/* carousel.component.css */
.carousel-container {
  position: relative;
  width: 400px;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.carousel {
  position: relative;
  height: 350px;
}

.slide {
  position: absolute;
  width: 400px;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity .7s ease;
}

.slide.active {
  opacity: 1;
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #ffffffaa;
  border: none;
  padding: 10px 18px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 22px;
  backdrop-filter: blur(5px);
}

.prev { left: 10px; }
.next { right: 10px; }

.dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 12px;
}

.dot {
  width: 12px;
  height: 12px;
  background: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.dot.active {
  background: #333;
}
