@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@300;500&display=swap');

:host {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-family: 'Great Vibes', cursive;
  color: #e91e63; /* rosa elegante */
}