@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.titulo {
  font-family: 'Great Vibes', cursive;
  font-size: 2.5rem;
  color: #e91e63;
  text-align: center;
  margin: 20px 0;
}
