
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  
  @include mat.theme((
    color: (
      primary: mat.$rose-palette,
      tertiary: mat.$red-palette,
      
    ),
    typography: Roboto,
    density: 0,
    
  ));



  @include mat.slider-overrides((
    disabled-active-track-color: #ba005c,
    handle-height: 100px,
  ));
}








body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  

  // Reset the user agent margin.
  margin: 0;
}




.mat-mdc-slider {
  width: 300px;
  margin-top: 20px;
}

.mat-mdc-slider .mdc-slider__thumb:nth-of-type(1) {
  background: url('https://i1.rgstatic.net/ii/profile.image/11431281530359940-1751637043361_Q512/Thais-Tofoli.jpg') no-repeat center center;
  background-size: cover;
  border-radius: 12px;
  border: none !important;
  width: 32px !important;
  height: 32px !important;
}

.mat-mdc-slider .mdc-slider__thumb:nth-of-type(2) {
  background: url('/assets/profile.jpg') no-repeat center center !important;
  background-size: cover !important;
  border-radius: 12px ;
  width: 32px !important;
  height: 32px !important;
  border: none !important;
}

.mdc-slider__thumb-knob{
  display: none;
}

.mat-mdc-slider.mdc-slider--disabled{
  opacity: 1 !important;
}

